<mat-form-field class="location-chip-list">
    <mat-label>{{ title }}</mat-label>
    <mat-chip-list #chipList aria-label="Autocomplete">

      <mat-chip *ngFor="let selectedOption of selectedOptions">
        {{ selectedOption }}
        <mat-icon matChipRemove (click)="remove(selectedOption)">cancel</mat-icon>
      </mat-chip>

      <input [matChipInputFor]="chipList" 
        [formControl]="autocompleteCtrl" 
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"  
        (matChipInputTokenEnd)="add($event)"
        matInput
        #autocompleteInput
      />
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let site of filteredOptions | async" [value]="site[ optionKey ]">
          {{ site[ optionKey ] }}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>