
<div class="wrapper wrapper-full-page" style="background-image: url('./assets/img/register.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;" >
    <div class="page-header register-page header-filter" filter-color="black" style="background-image: url('./assets/img/register.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
        <div class="row" >
          <div class="col-md-12 ml-auto mr-auto">
            <div class="card card-signup bg1div">
                <!-- TODO : Convert this into shared component -->
              
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5 ml-auto">
                  </div>
                  <div class="col-md-5 mr-auto">
                    <h2 class="card-title text-center" style="font-family: Arial, Helvetica, sans-serif;">
                      SentryCX™
                    </h2>
                    <form class="form" method="" action="">
                      <div class="form-group has-default">
                          <p class="text-center">You may login using Concentrix Single Sign-On credentials below.</p>
                      </div>
                      
                      <div class="text-center">
                        <a (click)="redirectToAuth($event)" class="btn btn-primary btn-round mt-4">Sign in via Concentrix SSO</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  