<div class="col-lg-12">
    <div class="card card-pricing card-raised">
        <div class="card-body">
        <p *ngIf="!editMode"  class="card-description pre-wrap hostfile-display" [innerHTML]="hostfileText.value"></p>
        <textarea *ngIf="editMode" 
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            matInput
            cdkAutosizeMinRows="20"
            [formControl]="hostfileText"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button *ngIf="editMode" (click)="update()"
            mat-raised-button class="btn btn-success btn-sm pull-left">
            <i class="material-icons">send</i>
            Save &amp; Update
        </button>

        <button *ngIf="editMode" mat-raised-button (click)="editMode = false "
            class="btn btn-light btn-sm pull-right">
            <i class="material-icons">cancel</i>
            Cancel
        </button>

        <button *ngIf="!editMode" (click)="editMode = true " 
            mat-raised-button class="btn btn-warning btn-sm pull-right">
            <i class="material-icons">edit</i>
            Edit
        </button>
    </div>
</div><!--/.row-->