<div>
    <div class="modal-header ">
      <h4 class="modal-title" id="modal-basic-title">Playbook (Excel) - {{ data['account'] }}</h4>
      <!-- <button type="button" class="close" aria-label="Close"  aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="modal-body ">
      <div class="text-center">
        <i class="material-icons" style="font-size:90px">cloud_off</i>
      </div>
      <h4 class="text-center">No Excel File uploaded to the Sharepoint repository.</h4>
      <!-- <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      <div  [ngStyle]="{'display': displayStyle  }">
        <iframe (load)="loaded()" style="min-height: 50vh;" class="embed-responsive" [attr.src]="data['url']"></iframe>
      </div> -->
    </div>
  
  </div>
  