<span [mdePopoverTriggerFor]="popover0" #popoverTrigger="mdePopoverTrigger">{{ text }}</span>

<mde-popover #popover0="mdePopover"
             [mdePopoverOverlapTrigger]="true"
             [mdePopoverCloseOnClick]="false"
             [mdePopoverOffsetX]="180"
             [mdePopoverOffsetY]="-10"
             [mdePopoverArrowOffsetX]="58"
             mdePopoverArrowColor="#FFFFFF"
             mdePopoverScrollStrategy="close">
    <mat-card style="max-width: 960px;">
        <mat-card-title>
            {{ header }} 
        </mat-card-title>
        <mat-card-content>
            <div class="pre-wrap" [innerHtml]="content" ></div>
        </mat-card-content>
    </mat-card>
</mde-popover>
