
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <div class="card">
                <div class="card-header card-header-rose card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">screen_share</i>
                  </div>
                </div>
                  <div class="card-body">
                    <div *ngIf="hasError" class="col-md-2 ml-auto mr-auto">
                      <p class="card-text">Something went wrong. Click the button below to try again.</p>
                
                      <a [routerLink]="['/integrations/zoho']" [queryParams]="{ state : state }"  class="btn btn-lg btn-primary btn-block text-white" type="submit" >
                        <span class="cil-reload btn-icon mr-2"></span> Try Again
                      </a>
                    </div>

                    <div *ngIf="!hasError" class="col-md-2 ml-auto mr-auto">
                      <p class="card-text">{{ msg }}</p>
                      <mat-progress-spinner color="primary" mode="indeterminate">
                      </mat-progress-spinner>
                    </div>

                  </div>
              </div>
          </div>
      </div><!--/.row-->

  </div>
</div>

