<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">email</i>
                    </div>
                  </div>
                    <div class="card-body">
                      <div class="col-lg-3 float-right">
                          <form class="navbar-form">
                              <span class="bmd-form-group">
                                  <div class="input-group no-border">
                                      <input autocomplete="off" (keydown.enter)="searchValue()" (keyup)="searchEmptyValue()" type="text" [(ngModel)]="search_value"
                                          [formControl]="filter" class="form-control" placeholder="Search...">
                                      <button mat-raised-button (click)="onSearchIcon()"
                                          class="btn btn-white btn-round btn-just-icon">
                                          <i class="material-icons">search</i>
                                          <div class="ripple-container"></div>
                                      </button>
                                      <button mat-button *ngIf="search_value" matSuffix mat-icon-button
                                          aria-label="Clear" (click)="emptySearch()">
                                          <mat-icon>close</mat-icon>
                                      </button> 
                                  </div>
                              </span>
                          </form>
                      </div>
                        <div class="table-responsive">
                             <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                             <table class="table table-striped table-hover">
                                <thead class="text-primary">
                                    <tr>
                                    <th>#</th>
                                    <th class="text-left">Report Type</th>
                                    <th class="text-center">Status</th>
                                    <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let data of mailNotificationsList;  let i = index;">
                                    <td>{{ i + paginate.from }}</td>
                                    <td class="text-left">{{ data.report_type }}</td>
                                    <td class="text-center" [matTooltip]="data.status_code ? 'Disabled' : 'Enabled' " 
                                        matTooltipPosition="before"> 
                                        <i class="material-icons text-danger" *ngIf="data.status_code == 'Disable'" text-success>block</i>
                                        <i class="material-icons text-success" *ngIf="!data.status_code" text-danger>check_circle</i>
                                    </td>
                                    <td class="td-actions text-center">
                                        <button mat-raised-button type="button" class="btn btn-link" 
                                        (click)="updateStatus(data)"
                                        matTooltip="Update Status" [matTooltipShowDelay]=1000>
                                        <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                  </tr>
                                </tbody>
                          </table>
                        <mat-paginator [length]="paginate.total" [pageSize]="paginate.perPage" (page)="pageChanged($event)">
                        </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

