.error-msg {
    color: red;
    display: inline-block;
    /* position: absolute; */
    /* top: 34px; */
    /* font-size: 10px; */
    font-size: 75%;
    /* margin-top: 2.604167em; */
    top: calc(100% - 1.72916667em);
}
/* .mat-paginator {
    display: flex;
    justify-content: center;
  }  */

  .feedback {
    background-color : #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
  }
  
  #addCodebutton {
    position: fixed;
    bottom: 40px;
    right: 40px;
  }