.clock
{
    padding-left: 10px;
}

.bg-rose{
	top: -50px;
}

.blinking{
	animation:blinkingText 0.8s infinite !important;
}
@keyframes blinkingText{
	0%{		color: #fff;	}
	/* 49%{	color: transparent;	} */
	/* 50%{	color: transparent;	} */
	99%{	color:transparent;	}
	100%{	color: #fff;	}
}