<div class="modal-body" >
    <form *ngIf="hasData" method="#" action="#">
        <mat-form-field  class="example-full-width">
            <input matInput type="text" placeholder="Employee Name" value="{{ profile.firstname + ' ' + profile.lastname}}" disabled />
        </mat-form-field>    

        <mat-form-field *ngFor="let field of PROFILE_FIELDS" class="example-full-width">
            <input matInput type="text" placeholder="{{ field.name }}" value="{{ profile[field.id] }}" disabled />
        </mat-form-field>    
    </form>
</div>
