
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">assignment</i>
                    </div>
                    <!-- <dropdown [data-title]="agentStatusTitle"
                      [data-options]="agentStatusOptions"
                      [data-default]="['online']"
                      data-type="SINGLE"
                      (onChange)="onAgentStatusFilter($event)"
                    ></dropdown>  -->
                  </div>
                    <div class="card-body">
                      <button mat-raised-button 
                          [mdePopoverTriggerFor]="dropdownReportPopover" class="pre-wrap btn-sm btn btn-primary pull-right"
                          mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
                          <i class="material-icons">import_export</i> 
                      </button>
                      <button *ngIf="hasFiltered" mat-raised-button class="btn btn-warning pull-right btn-sm"  matBadgeColor="accent" matBadge="!" data-toggle="modal" data-target="#connectedAgentsFilterModal" >
                        <i class="material-icons">search</i> 
                      </button>
            
                      <button *ngIf="!hasFiltered" mat-raised-button class="btn btn-warning pull-right btn-sm" data-toggle="modal" data-target="#connectedAgentsFilterModal"   >
                        <i class="material-icons">search</i> 
                      </button>
                      <dropdown data-title='
                          <span class="btn-label">
                            <i class="material-icons">view_column</i>
                          </span>
                          '
                          [data-options]="tableColumns"
                          [data-default]="selectedColumns"
                          [data-closeonclick]="false"
                          data-type="MULTIPLE"
                          class="pull-right"
                          (onChange)="onDynamicColumnChange($event)"
                        ></dropdown>

                      <auto-refresher (onChange)="invalidateRefresh()"></auto-refresher>

                      <button (click)="invalidateRefresh()" mat-raised-button class="btn btn-success btn-sm"  matBadgeColor="accent" matBadge="{{updateCounter}}" >
                        <i class="material-icons">refresh</i> 
                      </button>

                      <div class="col-lg-3 float-right">
                        <form class="navbar-form">
                            <span class="bmd-form-group">
                                <div class="input-group no-border">
                                    <input autocomplete="off" (keydown.enter)="searchValue()" (keyup)="searchEmptyValue()" type="text" [(ngModel)]="search_value"
                                        [formControl]="searchBar" class="form-control" placeholder="Search...">
                                    <button mat-raised-button (click)="onSearchIcon()"
                                        class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                    <button mat-button *ngIf="search_value" matSuffix mat-icon-button
                                        aria-label="Clear" (click)="emptySearch()">
                                        <mat-icon>close</mat-icon>
                                    </button> 
                                </div>
                            </span>
                        </form>
                      </div>

                      
                      
                        <div class="table-responsive">
                             <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                             <table class="table table-striped table-hover">
                                  <thead class="text-primary">
                                      <tr>
                                        <!-- <th *ngFor="let header of flagHeaders">
                                          <sort-header [ngClass]="header.class"
                                            [data-field]='header.field'
                                            [data-name]='header.name'
                                          [data-selected]="sortedField == header.field"
                                          (onSort)="sortFlag($event)"
                                          ></sort-header>
                                        </th> -->

                                        <ng-container *ngFor="let header of flagHeaders">
                                          <th *ngIf="selectedColumns | contains:header.field">
                                            <!-- <sort-header [ngClass]="header.class"
                                              [data-field]='header.field'
                                              [data-name]='header.name'
                                              [data-selected]="sortedField == header.field"
                                              (onSort)="sortFlag($event)"
                                            ></sort-header> -->

                                            <sort-header-filter class="text-left"
                                            [data-field]='header.field'
                                            [data-name]='header.name'
                                            [data-selected]="sortedField == header.field"
                                            [data-filters]="filterOptions['filters']"
                                            (onSort)="sortFlag($event)"
                                            (onSearch)="search($event)"
                                            ></sort-header-filter>

                                          </th>
                                        </ng-container>
                                        <!-- <th class="text-center">Action</th> -->
                                        <th *ngIf="selectedColumns | contains:'media_device'"><i class="material-icons">headset</i></th>
                                        <th *ngIf="selectedColumns | contains:'media_device'"><i class="material-icons">mic</i></th>
                                        <th *ngIf="selectedColumns | contains:'media_device'"><i class="material-icons" >camera_alt</i></th>                                     
                                      </tr>
                                  </thead>
                                <tbody>
                                    <tr *ngFor="let agent of connectedAgents ">
                                          <td *ngIf="selectedColumns | contains:'agent_name'" class="text-left">
                                            <popover 
                                              [data-text]="agent.agent_name | titlecase" 
                                              [data-header]="'MTR Result : ' + agent.agent_name"
                                              [data-content]="agent.mtr_result"
                                              class="mtr-table"
                                            ></popover>
                                          </td>
                                          <td *ngIf="selectedColumns | contains:'job_profile'" class="text-left">{{ agent.job_profile }}</td>
                                          <td *ngIf="selectedColumns | contains:'connection_type'" class="text-left">{{ agent.connection_type | default:'-'}}</td>
                                          <td *ngIf="selectedColumns | contains:'agent'" class="text-left">{{ agent.net_type==null || agent.net_type==""?"WAH":agent.net_type}}</td>
                                          <td *ngIf="selectedColumns | contains:'station_number'" class="text-left">{{ agent.station_number}}</td>
                                          <!-- <td class="text-left">{{ agent.host_ip_address | networkType}}</td> -->
                                          <td *ngIf="selectedColumns | contains:'location'" class="text-left">{{ agent.location }}</td>
                                          <td *ngIf="selectedColumns | contains:'account'" class="text-left">{{ agent.account }}</td>
                                          <td *ngIf="selectedColumns | contains:'mos'" [ngClass]="agent.mos | mosRate">{{ agent.mos | number : '1.2-2'}} </td>
                                          <td *ngIf="selectedColumns | contains:'ram'">{{ agent.ram }} GB</td>
                                          <td *ngIf="selectedColumns | contains:'ram_usage'">{{ agent.ram_usage}} % </td>
                                          <td *ngIf="selectedColumns | contains:'disk'">{{ agent.disk }} GB </td>
                                          <td *ngIf="selectedColumns | contains:'free_disk'">{{ agent.free_disk }} % </td>
                                          <td *ngIf="selectedColumns | contains:'cpu'" class="text-left">{{ agent.cpu }}</td>
                                          <td *ngIf="selectedColumns | contains:'cpu_util'">{{ agent.cpu_util }} % </td>
                                          <td *ngIf="selectedColumns | contains:'Throughput_percentage'">{{ agent.throughput_percentage }} </td>
                                          <td *ngIf="selectedColumns | contains:'lob'">{{ agent.lob | default:'-' }}</td>
                                          <td *ngIf="selectedColumns | contains:'programme_msa'">{{ agent.programme_msa | default:'-' }}</td>
                                          <td *ngIf="selectedColumns | contains:'supervisor_email_id'">{{ agent.supervisor_email_id | default:'-' }}</td>
                                          <td *ngIf="selectedColumns | contains:'supervisor_full_name'">{{ agent.supervisor_full_name | default:'-' }}</td>
                                          <td *ngIf="selectedColumns | contains:'updated_at'">{{ agent.updated_at | default: '-' | timezone }}</td>
                                          <td *ngIf="selectedColumns | contains:'media_device'"> 
                                            <i class="material-icons text-success" *ngIf="agent.audio == true" text-success>check_circle</i>
                                            <i class="material-icons text-danger" *ngIf="agent.audio == false" text-danger>block</i>
                                            <i *ngIf="agent.audio === null" text-warning>-</i>
                                          </td>
                                          <td *ngIf="selectedColumns | contains:'media_device'"> 
                                            <i class="material-icons text-success" *ngIf="agent.mic == true" text-success>check_circle</i>
                                            <i class="material-icons text-danger" *ngIf="agent.mic == false" text-danger>block</i>
                                            <i  *ngIf="agent.mic === null" text-warning>-</i>
                                          </td>
                                          <td *ngIf="selectedColumns | contains:'media_device'"> 
                                            <i class="material-icons text-success" *ngIf="agent.video == true" text-success>check_circle</i>
                                            <i class="material-icons text-danger" *ngIf="agent.video == false" text-danger>block</i>
                                            <i *ngIf="agent.video === null" text-warning>-</i>
                                          </td>
                                    </tr>
                                </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div><!--/.row-->

        <mat-paginator (page)="updateData($event)"
          [length]="paginate.total"
          [pageSize]="paginate.perPage"
          [pageIndex]="paginate.currentPage - 1"
          [pageSizeOptions]="[10, 20, 30, 40, 50]">
        </mat-paginator>

        <div class="modal fade" id="connectedAgentsFilterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <popup-filter [data-filters]="filterOptions['filters']"
            [data-fields]="filterOptions['fields']"
            (onSearch)="search($event)"
            (onReset)="reset()">
          </popup-filter>
    </div>
      <mde-popover #dropdownReportPopover="mdePopover" [mdePopoverOverlapTrigger]="false" [mdeFocusTrapEnabled]="true" [mdePopoverCloseOnClick]="true" mdePopoverTriggerOn="click">
        <mat-card style="max-width: 300px">
            <mat-card-content>
            
            <mat-nav-list>
              <a mat-list-item *ngFor="let item of reportType" (click)="setReport(item.value)">
                {{ item.name }} 
            </a>
            </mat-nav-list>
            </mat-card-content>
        </mat-card>
      </mde-popover>
    <!--/.modal-->
    </div>
</div>

