<div class="modal-header ">
  <div class="card-icon">
      <i class="material-icons">desktop_windows</i>
  </div>
  <div class="dropdown">
                          
      <h4 class="modal-title" data-toggle="dropdown" class="dropdown-toggle" id="modal-basic-title"> {{ subPage }} <b class="caret"></b> </h4>
      <ul class="dropdown-menu workstation-menu">
        <li class="dropdown-header">Other Details</li>
        <li *ngFor="let menu of SECTION_MENU "><a (click)="setPage(menu)" type="button"> 
              {{menu}}
        </a></li>
      </ul>
      
  </div>
  
  <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="dialogRef.close()">
      <i class="material-icons">clear</i>
  </button>
</div>

<div class="modal-body" >
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-dialog-content class="mat-typography" *ngIf="!isLoading" style="max-height: 60vh;">
  <div *ngIf="isSelected('Workstation Profile')">
    <historical-workstation-profile 
      [data-agent-name]="agentName" 
      [data-profile]="hardwareInfo" 
      [data-speedtest]="speedtest"
      [data-historical]="true">
    </historical-workstation-profile>
  </div><!-- Workstation Profile -->

  <!-- Workstation History -->
  <div *ngIf="isSelected('Workstation History')" >
      <workstation-logs [data-worker-id]="hardwareInfo['worker_id']"></workstation-logs>
  </div>

  <!--Throughput-->
  <div class="row" *ngIf="isSelected('Throughput')">
    <mat-form-field class="col-lg-6">
      <input matInput type="text" placeholder="Theoretical Throughput" value="{{hardwareInfo['Theoretical_Throughput']}}" disabled>
    </mat-form-field>
    <mat-form-field class="col-lg-6">
      <input matInput type="text" placeholder="Maximum Possible Throughput" [attr.value]="hardwareInfo['Maximum_Possible_Throughput']" disabled>
    </mat-form-field>
    <mat-form-field class="col-lg-6">
      <input matInput type="text" placeholder="Throughput Percentage" [attr.value]="hardwareInfo['Throughput_percentage']" disabled>
    </mat-form-field>
  </div>

  <!--Telnet-->

  <div class="row" *ngIf="isSelected('Telnet')">
    <div class="col-lg-6 cards">
        <div class="card card-pricing card-plain">
          <div class="card-body">
            <h3 class="card-title">Telnet 80</h3>
            <p class="card-description pre-wrap" [innerHTML]="hardwareInfo['Telnet80']">
          </div>
        </div>
      </div>

    <div class="col-lg-6 cards">
        <div class="card card-pricing card-raised">
        <div class="card-body">
            <h3 class="card-title">Telnet 443</h3>
            <p class="card-description pre-wrap" [innerHTML]="hardwareInfo['Telnet443']">
            </p>
        </div>
        </div>
    </div>
  </div>

  <div class="row" *ngIf="isSelected('ZOHO Logs')">
    <div id="accordion" role="tablist" class="col-md-12">
      <div *ngIf="remoteSessionLogs.length == 0 " class="text-center">
        <h4 class="text-muted text-center">No Remote Sessions found.</h4>
      </div>

      <div class="card-collapse" *ngFor="let remoteSessionLog of remoteSessionLogs; let i = index;">
        <div class="card-header" role="tab" id="heading-{{remoteSessionLog['sessionID']}}">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapse-{{remoteSessionLog['sessionID']}}" aria-expanded="true" [attr.aria-controls]="'collapse-' + remoteSessionLog['sessionID']" class="collapsed">
              {{ remoteSessionLog['session_title']  }}
              <i class="material-icons">keyboard_arrow_up</i>
            </a>
          </h5>
        </div>

        

        <div id="collapse-{{remoteSessionLog['sessionID']}}" class="collapse" role="tabpanel" [attr.aria-labelledby]="'heading' + remoteSessionLog['sessionID']" data-parent="#accordion" >
            <div class="card-body">

             <div class="row">
              <label class="col-sm-2 col-form-label">View Type</label>
              <div class="col-sm-9">
                <mat-form-field class="example-full-width">
                  <input matInput type="text"disabled value="{{ remoteSessionLog['viewer_type'] }}" />
                </mat-form-field>
              </div><!--/.col-sm-9-->
            </div><!--/.row-->

            <div class="row">
              <label class="col-sm-2 col-form-label">Agent Name</label>
              <div class="col-sm-9">
                <mat-form-field class="example-full-width">
                  <input matInput type="text"disabled value="{{ remoteSessionLog['agent_email'] }}" />
                </mat-form-field>
              </div><!--/.col-sm-9-->
            </div><!--/.row-->

            <div class="row">
              <label class="col-sm-2 col-form-label">Agent IP</label>
              <div class="col-sm-9">
                <mat-form-field class="example-full-width">
                  <input matInput type="text"disabled value="{{ remoteSessionLog['agent_ipaddress'] }}" />
                </mat-form-field>
              </div><!--/.col-sm-9-->
            </div><!--/.row-->

            <div class="row">
              <label class="col-sm-2 col-form-label">Agent OS</label>
              <div class="col-sm-9">
                <mat-form-field class="example-full-width">
                  <input matInput type="text"disabled value="{{ remoteSessionLog['agent_os']  }}" />
                </mat-form-field>
              </div><!--/.col-sm-9-->
            </div><!--/.row-->

            <div class="row">
              <label class="col-sm-2 col-form-label">TOC  Name</label>
              <div class="col-sm-9">
                <mat-form-field class="example-full-width">
                  <input matInput type="text"disabled value="{{ remoteSessionLog['display_name']  }}" />
                </mat-form-field>
              </div><!--/.col-sm-9-->
            </div><!--/.row-->

            <div class="row">
              <label class="col-sm-2 col-form-label">TOC IP</label>
              <div class="col-sm-9">
                <mat-form-field class="example-full-width">
                  <input matInput type="text"disabled value="{{ remoteSessionLog['viewer_ipaddress']  }}" />
                </mat-form-field>
              </div><!--/.col-sm-9-->
            </div><!--/.row-->

            <div class="row">
              <label class="col-sm-2 col-form-label">TOC OS</label>
              <div class="col-sm-9">
                <mat-form-field class="example-full-width">
                  <input matInput type="text"disabled value="{{ remoteSessionLog['viewer_os']  }}" />
                </mat-form-field>
              </div><!--/.col-sm-9-->
            </div><!--/.row-->

            <div class="row">
              <label class="col-sm-2 col-form-label">Session Type</label>
              <div class="col-sm-9">
                <mat-form-field class="example-full-width">
                  <input matInput type="text"disabled value="{{ remoteSessionLog['session_type']  }}" />
                </mat-form-field>
              </div><!--/.col-sm-9-->
            </div><!--/.row-->

            <div class="row">
              <label class="col-sm-2 col-form-label">Start Time</label>
              <div class="col-sm-9">
                <mat-form-field class="example-full-width">
                  <input matInput type="text"disabled value="{{ remoteSessionLog['start_time'] | date:'medium' }}" />
                </mat-form-field>
              </div><!--/.col-sm-9-->
            </div><!--/.row-->
          
            <div class="row">
              <label class="col-sm-2 col-form-label">End Time</label>
              <div class="col-sm-9">
                <mat-form-field class="example-full-width">
                  <input matInput type="text"disabled value="{{ remoteSessionLog['end_time'] | date:'medium' }} " />
                </mat-form-field>
              </div><!--/.col-sm-9-->
            </div><!--/.row-->


            <div class="row">
              <label class="col-sm-2 col-form-label">Duration</label>
              <div class="col-sm-9">
                <mat-form-field class="example-full-width">
                  <input matInput type="text"disabled value="{{ remoteSessionLog['duration'] | date:'h:mm:ss' }}" />
                </mat-form-field>
              </div><!--/.col-sm-9-->
            </div><!--/.row-->

            <div class="row">
              <label class="col-sm-2 col-form-label">Recording</label>
              <div class="col-sm-9 col-form-label">
                <a [attr.href]="'https://download.zoho.com/webdownload?x-service=assist&event-id='+ remoteSessionLog['tsid'] + '&x-cli-msg=rec'" target="_blank" >
                  Download Video 
                </a>
              </div><!--/.col-sm-9-->
            </div><!--/.row-->

          </div><!--/.card-body-->
        </div><!--/.collapse-->
      </div><!--/.card-collpase-->
    </div><!--/#accordion-->
  </div>

  <!-- <div class="row" *ngIf="isSelected('Ping')">
      <div class="col-lg-6 cards">
          <div class="card card-pricing card-plain">
            <div class="card-body">
              <h3 class="card-title">google.com</h3>
              <p class="card-description pre-wrap" [innerHTML]="hardwareInfo['ping_ref']">
            </div>
          </div>
        </div>

      <div class="col-lg-6 cards">
          <div class="card card-pricing card-raised">
          <div class="card-body">
              <h3 class="card-title">{{ hardwareInfo['selected_host'] }}</h3>
              <p class="card-description pre-wrap" [innerHTML]="hardwareInfo['ping']">
              </p>
          </div>
          </div>
      </div>
  </div> -->
  <!-- PING -->

  <div class="row" *ngIf="isSelected('Ping')">
    <div class="card-body container">
        <ping
          [data-worker-id]="hardwareInfo['worker_id']"
          [data-agent]="agentName"
        ></ping>
    </div><!--/.card-body-->
  </div>

  <!-- <div class="row" *ngIf="isSelected('Traceroute')">
      <div class="col-lg-6 cards">
          <div class="card card-pricing card-plain">
            <div class="card-body">
              <h3 class="card-title">google.com</h3>
              <p class="card-description pre-wrap" [innerHTML]="hardwareInfo['tracecert_ref']">
            </div>
          </div>
        </div>

      <div class="col-lg-6 cards">
          <div class="card card-pricing card-raised">
          <div class="card-body">
              <h3 class="card-title">{{ hardwareInfo['selected_host'] }}</h3>
              <p class="card-description pre-wrap" [innerHTML]="hardwareInfo['tracecert']">
              </p>
          </div>
          </div>
      </div>
  </div> -->
  <!-- TRACEROUTE -->

  <div class="row" *ngIf="isSelected('Traceroute')">
    <div class="card-body container">
        <trace
          [data-worker-id]="hardwareInfo['worker_id']"
          [data-agent]="agentName"
        ></trace>
    </div><!--/.card-body-->
  </div>

  <div class="row" *ngIf="isSelected('Host File')">
      <div class="col-lg-12 cards">
          <div class="card card-pricing card-plain">
            <div class="card-body">
              <!-- <hostfile-per-workstation></hostfile-per-workstation> -->
              <!-- <p class="card-description pre-wrap" [innerHTML]="hardwareInfo['host_file']"> -->
              
              <hostfile-per-workstation 
                [data-hostfile]="hardwareInfo['host_file']"
                [data-worker-id]="hardwareInfo['worker_id']">
              </hostfile-per-workstation>
            </div>
          </div>
      </div>
  </div><!-- HOST FILE -->


  <div class="row" *ngIf="isSelected('MTR')">
      <div class="col-lg-12 cards">
          <div class="card card-pricing card-plain">
            <div class="card-body mtr-table">
              <h3 class="card-title">{{ hardwareInfo['selected_host'] }}</h3>
              <p *ngIf="hardwareInfo['mtr']" class="card-description pre-wrap" [innerHTML]="hardwareInfo['mtr']"></p>
              <p *ngIf="!hardwareInfo['mtr']" class="card-description text-align">No MTR recorded for this issue/agent.</p>
            </div>
          </div>
      </div>
  </div><!-- MTR  -->


  <div class="row" *ngIf="isSelected('Senventory') && lezap">

      <div class="card-body container">
          <div class="row">
            <div class="col-md-4">
              <ul class="nav nav-pills nav-pills-rose flex-column" role="tablist">
                  <li class="nav-item">
                      <a *ngFor="let propertyName of lezapIndex; let i = index;" [ngClass]="{'active' : (i ==0 ) }" class="nav-link" data-toggle="tab" href="#lezap-{{ propertyName }}" role="tablist">
                          {{ lezapList[propertyName] }}
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#lezap-required-apps" role="tablist">
                          Required Apps
                      </a>
                    </li>
              </ul>
            </div>
            <div class="col-md-8">
              <div class="tab-content">
                <div *ngFor="let propertyName of lezapIndex; let i = index;" [ngClass]="{'active' : (i ==0 ) }" class="tab-pane pre-wrap" id="lezap-{{ propertyName }}" [innerHTML]="lezap[propertyName]"> 
                  {{ propertyName }}
                </div>
                <div  class="tab-pane pre-wrap" id="lezap-required-apps"> 
                  <div *ngFor="let app of appsToCheck">
                      <p *ngIf="!isInstalled(app)"><span style="vertical-align: middle;" class="material-icons">clear</span> {{ app }} is not installed</p>  
                  </div>
                  <p *ngIf="haveRequiredApps()"> <i class="cil-check align-middle">
                      <span class="material-icons">done</span> Necessary Applications have been installed</i> 
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div><!-- LEZAP  -->

  <div class="row" *ngIf="isSelected('Proxy Auto-Config (PAC)')">
      <div class="col-lg-12 cards">
          <div class="card card-pricing card-raised">
            <div *ngIf="!hardwareInfo['pac_address']" class="card-body">
              No Proxy has been setup on this workstation
            </div>

            <div *ngIf="hardwareInfo['pac_address']" class="card-body">
                To view the raw Proxy Auto-Config script, click the button below
                <div class="card-icon icon-rose">
                  <a [attr.href]="hardwareInfo['pac_address']" target="_blank"> <i class="material-icons">cloud_download</i></a>
                </div>

            </div> 
          </div>
      </div>
  </div><!-- PROXY  -->

  <div class="row" *ngIf="isSelected('Event Logs')">
      <div class="card-body container">
        <form [formGroup]="eventLogForm">
          <div class="row">
              <!-- <label class="col-sm-2 col-form-label">Extract Logs</label> -->
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="startDatePicker"
                          formControlName="startDate"
                          placeholder="Start Date" 
                          autocomplete="off"
                          (click)="startDatePicker.open()">
                      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="endDatePicker" 
                          formControlName="endDate"
                          placeholder="End Date" 
                          autocomplete="off"
                          (click)="endDatePicker.open()">
                      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="Log Type" formControlName="type">
                          <mat-option value="application">Application</mat-option>
                          <mat-option value="security">Security</mat-option>
                          <mat-option value="system">System</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                      <input matInput type="text" placeholder="Keyword" formControlName="keyword" autocomplete="off">
                    </mat-form-field>
                  </div>
                </div>
              </div><!--/.col-sm-10-->
              <div class="col-sm-2">
                  <button *ngIf="hardwareInfo.is_active" [ngClass]="{ 'disabled' : eventLogForm.invalid  }"  mat-raised-button (click)="extractLog()" class="btn btn-primary btn-sm">Extract Log</button>
                  <button *ngIf="!hardwareInfo.is_active"  disabled mat-raised-button class="btn btn-secondary btn-sm">Agent is Offline</button>
              </div>
            </div>
          </form>
          <div class="table-responsive">
              <table class="table table-striped table-hover">
                      <thead class="text-primary">
                          <tr>
                            <th>Type</th>
                            <th>Keyword</th>
                            <th>Date Start</th>
                            <th>Date End</th>
                            <th>Action</th>
                          </tr>
                      </thead>
                    <tbody>
                        <tr *ngIf="eventLogs.length == 0 ">
                          <td colspan="5" class="text-center">No logs extracted yet</td>
                        </tr>
                        <tr *ngFor="let eventLog of eventLogs">
                          <td>{{ getLogDetails(eventLog, 'type') | titlecase }}</td>
                          <td>{{ getLogDetails(eventLog, 'keyword')}}</td>
                          <td>{{ getLogDetails(eventLog, 'startDate') }}</td>
                          <td>{{ getLogDetails(eventLog, 'endDate') }}</td>
                          <td>
                              
                              <a *ngIf="eventLog.includes('.log')" target="_blank" 
                                  matTooltip="Download" 
                                  mat-raised-button 
                                  class="btn btn-danger btn-sm"
                                  (click)="downloadLog(eventLog)"
                                  >
                                  <i class="material-icons">download</i>
                              </a>

                              <mat-progress-spinner *ngIf="eventLog.includes('.tmp')"
                                 color="primary" diameter="18"
                                 mode="indeterminate">
                              </mat-progress-spinner>
                          </td>
                        </tr>
                    </tbody>
              </table>

            </div>
      </div>
  </div>


  <!-- NOTE : MOS HERE, try doin compomenet setup-->
  <div class="row" *ngIf="isSelected('Mean Opinion Score(MOS)')">
    <div class="card-body container">
       <mean-opinion-score class="mos"
        [data-worker-id]="hardwareInfo['worker_id']"
        [data-agent]="agentName"
        [data-packet-loss]="hardwareInfo['packet_loss']"
        [data-average-latency]="hardwareInfo['average_latency']"
        [data-jitter]="hardwareInfo['jitter']"
        [data-mos]="hardwareInfo['mos']"
       ></mean-opinion-score>
    </div><!--/.card-body-->
  </div><!--/ MOS-->


  
  <div class="row" *ngIf="isSelected('Speedtest')">
    <div class="card-body container">
       <historical-speedtest class="mos"
       [data-worker-id]="hardwareInfo['worker_id']"
       [data-agent]="agentName"
       [data-isp]="hardwareInfo['ISP']"
       [data-upload-speed]="hardwareInfo['upload_speed']"
       [data-download-speed]="hardwareInfo['download_speed']"
       ></historical-speedtest>
    </div><!--/.card-body-->
  </div><!--/ MOS-->

  <!-- -->
  <div class="row" *ngIf="isSelected('SecureCX Monitoring')">
    <div class="card-body container">
        <securecx-monitoring
        [data-worker-id]="hardwareInfo['worker_id']"
        [data-agent]="agentName"
        [data-packet-loss]="hardwareInfo['packet_loss']"
        [data-average-latency]="hardwareInfo['average_latency']"
        [data-jitter]="hardwareInfo['jitter']"
        [data-mos]="hardwareInfo['mos']"
        ></securecx-monitoring>
    </div><!--/.card-body-->
  </div>
  

  <div class="row" *ngIf="isSelected('Media Device')">
    <div class="card-body container row">
      <div class="col-md-12 ml-auto mr-auto" *ngIf="!mediaDevices['remarks']">
        <h4 class="text-center">No test made for the workstation</h4>
      </div>

      <div class="col-md-12" *ngIf="mediaDevices['remarks']">
        <ul class="timeline timeline-simple">
          <li class="timeline-inverted" *ngFor="let details of deviceRef" >
              <div class="timeline-badge" [ngClass]="{ 'success' : mediaDevices[details['id']], 'danger' : !mediaDevices[details['id']] }">
                <i class="material-icons">{{ details['icon'] }}</i>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                    <b>{{ details['name'] }} </b>
                    <span *ngIf="mediaDevices[details['id']]" class="badge badge-success"><b>READY</b></span>
                    <span *ngIf="!mediaDevices[details['id']]" class="badge badge-danger"><b>FAILED</b></span>
                </div>
                
                <div class="timeline-body">
                    <mat-list>
                       <div class="row" *ngFor="let remarks of mediaDevices['remarks'][ details['id'] ]; let i = index; ">
                          <mat-list-item class="my-1">{{ remarks }}</mat-list-item>
                        </div>

                       <mat-list-item *ngIf="!mediaDevices['remarks']">
                        <div class="col-md-10">No test made for the workstation </div>
                       </mat-list-item>
                    </mat-list>
                </div>
              </div>
          </li><!-- /.timeline-inverted-->
        </ul>
      </div>

      <div class="col-md-12" *ngIf="mediaDevices">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="text-primary">
                    <tr>
                      <th>Site</th>
                      <th>
                          <!-- Speaker -->
                          <i class="material-icons">headset</i>   
                        </th>
                      <th>
                          <!-- Microphone -->
                          <i class="material-icons">mic</i>   
                      </th>
                      <th>
                          <!-- Camera -->
                          <i class="material-icons" >camera_alt</i>   
                        </th>
                      <th></th>
                    </tr>
                </thead>
              <tbody>

                    <tr *ngIf="!(mediaDevices.remarks_per_sites | jsonParse)">
                        <td  colspan=5 class="text-center">No sites needed to check media devices.</td>
                    </tr>

                    <tr *ngFor="let site of (mediaDevices.remarks_per_sites | jsonParse)">
                      <th>
                          {{ site.url }}
                          <a [attr.href]="site.url" target="_blank" matTooltip="Open in new tab">
                              <i class="material-icons">open_in_browser</i>
                          </a>
                          
                          <!-- <a [attr.href]="site.url" target="_blank" >{{ site.url }}</a> -->
                        </th>
                      <th>
                        <i class="material-icons" matTooltip="CHECKING...">more_horiz</i>   
                      </th>
                      <th>
                            <i *ngIf="site.microphone == 'allow'" class="material-icons text-success" matTooltip="ALLOWED">check_circle</i>   
                            <i *ngIf="site.microphone == 'block'" class="material-icons text-danger" matTooltip="BLOCKED">block</i>   
                            <i *ngIf="site.microphone == 'ask'" class="material-icons text-warning" matTooltip="PROMPT">help_outline</i>   
                            <i *ngIf="!site.microphone" class="material-icons" matTooltip="CHECKING...">more_horiz</i>   
                      </th>
                      <th>
                          <i *ngIf="site.camera == 'allow'" class="material-icons text-success" matTooltip="ALLOWED">check_circle</i>   
                            <i *ngIf="site.camera == 'block'" class="material-icons text-danger" matTooltip="BLOCKED">block</i>   
                            <i *ngIf="site.camera == 'ask'" class="material-icons text-warning" matTooltip="PROMPT">help_outline</i>   
                            <i *ngIf="!site.camera"class="material-icons" matTooltip="CHECKING...">more_horiz</i>   
                        </th>
                        <th *ngIf="!isSentryChromeInstalled"></th>

                    </tr>
                </tbody>
            </table>
        </div><!--/.table-responsive-->
      </div><!--/.col-md-6-->
    </div><!--/.row-->
  </div>
  </mat-dialog-content>
</div>
<div *ngIf="!isLoading && !singleInfo" class="" style="display: block;">
<!-- <div *ngIf="!isLoading && !singleInfo" class="" style="display: block;"> -->
  <div class="row">
      <div class="col-md-8">
          <!-- <nav aria-label="Page navigation example">
              <ul class="pagination pagination-primary">
                  <li *ngFor="let item of range(paginate.total); let i = index;"
                      [ngClass]="{'active' : paginate.currentPage == ( i + 1 ) }"
                      class="page-item">
                  <a mat-button class="page-link" (click)="updateData(i + 1)" > {{ i + 1 }}</a>
                  </li>
                  
              </ul>
          </nav> -->
      </div>
      <div *ngIf="!hardwareInfo['is_active']" class="col-md-4 text-right ">
          <button mat-raised-button class="btn btn-primary disabled" disabled>
              <i class="material-icons">send</i> Agent is Offline
          </button>
      </div>
      <div *ngIf="hardwareInfo['is_active']" class="col-md-4 text-right">
          <button *ngIf="!progress || (progress == 100)" mat-raised-button class="btn btn-primary" (click)="sendRequest()">
              <i class="material-icons">send</i> Send Request
          </button>
          <mat-progress-spinner *ngIf="progress && (progress < 100)"
              class="progress-circular"
              color="primary"
              mode="determinate"
              diameter="35"
              [value]="progress"> 
          </mat-progress-spinner>
          <span class="progress-text" *ngIf="progress && (progress < 100)">{{ progress }}%</span> 
      </div>
  </div><!--/.row-->
</div>


<div *ngIf="hardwareInfo && !readOnly" class="row">
  <!-- TODO : Use the Button component from angular-material -->
  <div *ngIf="hardwareInfo['is_active']" class="col-md-8">
    <a (click)="lockAgent()" 
      matTooltip="Lock Station" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light btn btn-sm btn-success" >
      <i class="material-icons left">lock</i>
    </a>

    <a [routerLink]="['/dashboard/web-cmd', hardwareInfo['worker_id']]" 
      target="_blank"
      matTooltip="Web CMD" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light btn btn-sm btn-success" >
      <i class="material-icons left">tab</i>
    </a>

    <a matTooltip="WEB MTR" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light btn btn-sm btn-success" 
      (click)="!!loadWebMTR(hardwareInfo['id'])">
        <i class="material-icons left">network_cell</i>
    </a>

    <a [routerLink]="['/integrations/zoho']"  
      [queryParams]="{ state : hardwareInfo['worker_id'] }" 
      target="_blank"
      matTooltip="ZOHO Connect" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light btn btn-sm btn-success" >
      <i class="material-icons left">screen_share</i>
    </a>

    <a (click)="notifyManager()"
      target="_blank"
      matTooltip="Wipeout" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light btn btn-sm btn-success" >
      <i class="material-icons left">delete_sweep</i>
    </a>

    <!-- <a *ngIf="'workstation:wipeout' | access:'not-allowed'" target="_blank"
      matTooltip="Wipeout(Not Allowed)" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light btn btn-sm btn-success" >
      <i class="material-icons left">delete_sweep</i>
    </a> -->

    <a (click)="sendMediaCheckRequest()"
      target="_blank"
      matTooltip="Send Device Check" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light btn btn-sm btn-success" >
      <i class="material-icons left">settings_remote</i>
    </a>

  </div>

  <div *ngIf="!hardwareInfo['is_active']" class="col-md-8">
    <a matTooltip="Lock Station" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light disabled btn btn-sm btn-secondary" >
      <i class="material-icons left">lock</i>
    </a>
    <a matTooltip="Web MTR" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light disabled btn btn-sm btn-secondary" >
      <i class="material-icons left">network_check</i>
    </a>
    <a matTooltip="ZOHO Connect" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light disabled btn btn-sm btn-secondary" >
      <i class="material-icons left">network_wifi</i>
    </a>
    <a matTooltip="Send Device Check" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light disabled btn btn-sm btn-secondary" >
      <i class="material-icons left">settings_remote</i>
    </a>
    Agent is Offline 
  </div>
</div>

<div *ngIf="hardwareInfo && readOnly" class="row" title="Read only access">
  <!-- TODO : Use the Button component from angular-material -->
  <div *ngIf="hardwareInfo['is_active']" class="col-md-8">
    <a matTooltip="Lock Station" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light disabled  btn btn-sm btn-success" >
      <i class="material-icons left">lock</i>
    </a>

    <a
      target="_blank"
      matTooltip="Web CMD" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light disabled btn btn-sm btn-success" >
      <i class="material-icons left">tab</i>
    </a>

    <a matTooltip="WEB MTR" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light disabled btn btn-sm btn-success" 
      (click)="!!loadWebMTR(hardwareInfo['id'])">
        <i class="material-icons left">network_cell</i>
    </a>

    <a [routerLink]="['/integrations/zoho']"  
      [queryParams]="{ state : hardwareInfo['worker_id'] }" 
      target="_blank"
      matTooltip="ZOHO Connect" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light disabled btn btn-sm btn-success" >
      <i class="material-icons left">screen_share</i>
    </a>

    <a (click)="notifyManager()"
      target="_blank"
      matTooltip="Wipeout" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light disabled btn btn-sm btn-success" >
      <i class="material-icons left">delete_sweep</i>
    </a>

    <!-- <a *ngIf="'workstation:wipeout' | access:'not-allowed'" target="_blank"
      matTooltip="Wipeout(Not Allowed)" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light btn btn-sm btn-success" >
      <i class="material-icons left">delete_sweep</i>
    </a> -->

    <a (click)="sendMediaCheckRequest()"
      target="_blank"
      matTooltip="Send Device Check" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light disabled btn btn-sm btn-success" >
      <i class="material-icons left">settings_remote</i>
    </a>

  </div>

  <div *ngIf="!hardwareInfo['is_active']" class="col-md-8">
    <a matTooltip="Lock Station" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light disabled btn btn-sm btn-secondary" >
      <i class="material-icons left">lock</i>
    </a>
    <a matTooltip="Web MTR" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light disabled btn btn-sm btn-secondary" >
      <i class="material-icons left">network_check</i>
    </a>
    <a matTooltip="ZOHO Connect" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light disabled btn btn-sm btn-secondary" >
      <i class="material-icons left">network_wifi</i>
    </a>
    <a matTooltip="Send Device Check" 
      matTooltipPosition="before" 
      matTooltipClass="tooltip-css" 
      class="waves-effect waves-light disabled btn btn-sm btn-secondary" >
      <i class="material-icons left">settings_remote</i>
    </a>
    Agent is Offline 
  </div>
</div>