

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div id="SentryChart" class="ct-chart"></div>
            </div>
            <div class="card-body">
                <div class="col-md-6 float-left">
                    <h4 class="card-title">{{title}}</h4>
                    <p class="card-category">{{sub}}</p>
                </div>
                <div class="col-md-6 float-right" *ngIf="legend">
                    <div class="col-md-12">
                      <h6 class="card-category">Legend</h6>
                    </div>
                    <div class="col-md-12">
                      <i class="fa fa-circle text-info"></i> Upload
                      <i class="fa fa-circle text-danger"></i> Download
                    </div>
                </div>
            </div>
          </div>
        </div>